Loopback IP as redirect url for native applications

**Describe the bug**
Per OIDC standard definition, the loopback address for IPV4 and IPV6 are _allowed_ as valid redirect uri.
`http://localhost` is not allowed, but `http://127.0.0.1` is.

In addition to make custom url schemes on mobile apps.

hi @buehler 

Thank you for the report.

@livio-a will have a look on it this week.

As soon as the issue is resolved in code we will and later when it's deployed on zitadel.ch give you feedback

As OAuth2 and OIDC specs aren't completely clear or inconsistent. They state the following:

**OAuth 2.0 for Native Apps (RFC8252)**

https://tools.ietf.org/html/rfc8252#section-7: 
> There are several redirect URI options available to native apps for receiving the authorization response from the browser, the availability and user experience of which varies by platform. To fully support this best practice, authorization servers MUST offer at least the three redirect URI options described in the following subsections to native apps.  Native apps MAY use whichever redirect option suits their needs best, taking into account platform-specific implementation details.

https://tools.ietf.org/html/rfc8252#section-8.3:
Does not recommend to use `http://localhost` but mentions the similar functionality
> ... 
While redirect URIs using localhost (i.e., "http://localhost:{port}/{path}") function similarly to loopback IP redirects described in Section 7.3, the use of localhost is NOT RECOMMENDED.  Specifying a redirect URI with the loopback IP literal
rather than localhost avoids inadvertently listening on network interfaces other than the loopback interface.  It is also less susceptible to client-side firewalls and misconfigured host name resolution on the user's device.

**OIDC Core 1.0**

Allows `custom schemes` but does not mention `http://localhost`
https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest
> redirect_uri
REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.

https://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest:
Allows `http://localhost` (Implicit must not be used according to OAuth for native apps)
> redirect_uri
REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI MUST NOT use the http scheme unless the Client is a native application, in which case it MAY use the http: scheme with localhost as the hostname.

The following is now implemented and deployed on zitadel.ch:
- Allow loopback and localhost for Authorization Code and Implicit Flow (with dynamic port range) from OIDC Lib: https://github.com/caos/oidc/pull/96
- In ZITADEL we will keep suggesting PKCE for native (for using implicit flow you will need to switch to a custom config) and we added loopbacks as allowed uris: https://github.com/caos/zitadel/pull/1690


